// grid column resizers
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
  .three-cols .col-md-1,
  .three-cols .col-sm-1,
  .three-cols .col-lg-1 {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
  .three-cols .col-md-1,
  .three-cols .col-sm-1,
  .three-cols .col-lg-1 {
    width: 33.333%;
    *width: 33.333%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
  .three-cols .col-md-1,
  .three-cols .col-sm-1,
  .three-cols .col-lg-1 {
    width: 33.333%;
    *width: 33.333%;
  }
}


.total-calories-div {
  text-shadow: 0px 0px 10px  black;
  background-color: #0008;
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
}