
// Default variable overrides
$body-bg: #000;
$body-color: #111;

$primary: #6f42c1;
$secondary: #6c757d;
$danger: #ff4136;
$white: #0074d9;

//$theme-colors: (
//  "primary": $primary,
//  "danger": $danger
//);

@import '~bootstrap/scss/bootstrap.scss';
@import './footer.scss';
@import './login.scss';
