@import "node_modules/bootstrap/scss/bootstrap.scss";

$footerHeight: 10vh;

footer {
  background-color: #343a40;
  min-height: $footerHeight;
  width: 100%;

  padding-top: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  height: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}
